<div class="mb-3">
    <app-buttons-panel-normal [marginTop]="true" [showStart]="true">
        <span slot="end">
            <app-custom-button class="mr-2" [icon]="'pi pi-refresh'" [iconPos]="'left'" (emitClicked)="getJob()"></app-custom-button>
        </span>
    </app-buttons-panel-normal>
</div>

<app-job-details [job]="job" [mode]="mode" (emitJob)="modificateJob($event)"></app-job-details>

<div class="ui-fluid">
    <app-buttons-panel-normal [marginTop]="true">
        <span slot="end">
            <div *ngIf="mode === viewMode.EDIT">  
                <span class="btn-panel"><app-cancel-button (emitClicked)="btnCancelClicked()"></app-cancel-button></span>
        <span class="btn-panel"><app-save-button (emitClicked)="btnSaveClicked()"></app-save-button></span>
</div>
<div *ngIf="mode === viewMode.VIEW">
    <span class="btn-panel"><app-back-button (emitClicked)="btnBackClicked()"></app-back-button></span>
</div>
</span>
</app-buttons-panel-normal>
</div>