<!-- Modal -->
<app-modal-generic 
    *ngIf="isConfirmActive" 
    [isModalActive]="isModalActive" 
    (closed)="emitModal()" 
    [showHeader]="title && title !== ''" 
    [showSection]="message && message !== ''">
    
    <!-- <custom-header> -->
    <span slot="custom-header">{{ title }}</span>
    <!-- </custom-header> -->
    <!-- <custom-section> -->
    <p slot="custom-section">{{ message }}</p>
    <!-- </custom-section> -->
    <!-- <custom-footer> -->
    <span slot="custom-footer" class="button-panel button-panel-end">
            <app-accept-button
                (emitClicked)="confirmClicked()">
            </app-accept-button>
            <app-cancel-button
                (emitClicked)="closeClicked()">
            </app-cancel-button>
        </span>
    <!-- </custom-footer> -->
</app-modal-generic>