<div [ngClass]="{'card-job': isClicker}">
    <p-card class="mt-card" styleClass="ui-card-shadow" [ngClass]="{'card-job-completed': job.hasStatus === 'COMPLETED', 'card-job-running': job.hasStatus === 'RUNNING', 'card-job-partial': job.hasStatus === 'PARTIAL', 'card-job-error': job.hasStatus === 'ERROR'}">
        <div class="p-grid">
            <div class="p-lg-4 p-md-5 p-sm-6 p-col-12">
                <div class="p-grid p-justify-center">
                    <div class="p-col-6">
                        <span class="date-job">{{ job.dateCreation | date:'dd/MM/yyyy' }}</span>
                    </div>
                    <div class="p-col-6">
                        <span class="status-job">{{ job.hasStatus }}</span>
                    </div>
                </div>
                <div class="p-grid p-justify-center">
                    <div class="p-col-4">
                        <span class="title-card-job">Nombre:</span>
                    </div>
                    <div class="p-col-8 separator">
                        <span class="content-card-job">{{ job.name }}</span>
                    </div>
                </div>
                <div class="p-grid p-justify-center">
                    <div class="p-col-4">
                        <span class="title-card-job">Descripción:</span>
                    </div>
                    <div class="p-col-8 custom-textarea separator">
                        <textarea [rows]="2" [disabled]="showButtons || !mode || mode === 1" [(ngModel)]="job.description" (keypress)="keypress()" pInputTextarea></textarea>
                    </div>
                </div>
            </div>
            <div class="p-lg-8 p-md-7 p-sm-6 p-col-12">
                <div class="p-grid">
                    <div class="p-col-12">
                        <div class="card-info-mini-panel-box">
                            <div class="card-info-mini-panel-title">Estado de los algoritmos</div>
                            <div class="card-info-mini-panel">
                                <app-card-info-mini class="card-info-mini-item" [title]="'Total'" [content]="counters.total" [icon]="" [backgroundColor]="'#3295e0'"></app-card-info-mini>
                                <app-card-info-mini class="card-info-mini-item" [title]="'Running'" [content]="counters.running" [icon]="'clock'" [backgroundColor]="'#fcb634'" [colorIcon]="'#e9480e'"></app-card-info-mini>
                                <app-card-info-mini class="card-info-mini-item" [title]="'Errors'" [content]="counters.error" [icon]="'thumbs-down'" [backgroundColor]="'#e96c76'" [colorIcon]="'#b9000f'"></app-card-info-mini>
                                <app-card-info-mini class="card-info-mini-item" [title]="'Completed'" [content]="counters.completed" [icon]="'thumbs-up'" [backgroundColor]="'#7bca7c'" [colorIcon]="'#007902'"></app-card-info-mini>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12">
                        <p-progressBar class="progressbar-job-card" [value]="counters.percent"></p-progressBar>
                    </div>
                    <div class="p-col-12">
                        <div *ngIf="showButtons" class="ui-fluid">
                            <app-buttons-panel-normal>
                                <span slot="end">
                                    <!-- TODO: Eliminar de aqui y de .ts -->
                                    <!-- <span class="btn-panel">
                                        <app-remove-button [disabled]="disabledButtonRemove" (emitClicked)="jobDetails()"></app-remove-button>
                                    </span> -->
                                <span class="btn-panel">
                                        <app-remove-button [disabled]="disabledButtonRemove" (emitClicked)="removeConfirm()"></app-remove-button>
                                    </span>
                                <span class="btn-panel">
                                        <app-edit-button [disabled]="disabledButtonEdit" (emitClicked)="edit()"></app-edit-button>
                                    </span>
                                <span class="btn-panel">
                                        <app-view-button [disabled]="disabledButtonView" (emitClicked)="select()"></app-view-button>
                                    </span>
                                </span>
                            </app-buttons-panel-normal>
                            <app-confirm-dialog *ngIf="isConfirmActive" [isConfirmActive]="isConfirmActive" [title]="titleConfirm" [message]="messageConfirm" (confirm)="remove()" (cancel)="removeCancel()"></app-confirm-dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- {{ job | json }} -->

    </p-card>

</div>

<app-modal-job-details *ngIf="isModalActive" [isModalActive]="isModalActive" [job]="job" [mode]="mode" (closedModalJob)="closeModalJob($event)" (emitSavedJob)="savedJob($event)"></app-modal-job-details>