<div class="card-wrapper" [ngClass]="{'card-rotate': isClicker}">
    <p-card class="mt-card" styleClass="ui-card-shadow" [ngClass]="{clicker: isClicker, 'card-background': isClicker}">
        <!-- <p>{{ dataset.dateCreation }}</p>
        <p>{{ dataset.file }}</p>
        <p>({{ dataset.fullName }})</p>
        <p>{{ dataset.size }} bytes</p>
        <p>{{ dataset.description }}</p>
        <div *ngIf="showButtons" class="buttons-panel">
        </div> -->

        {{ job | json }}
        <!-- <p>{{ job.name | json }}</p>
        <p>{{ job.description | json }}</p> -->
        <div *ngIf="showButtons" class="ui-fluid">
            <app-buttons-panel-normal [marginTop]="true">
                <span slot="end">
                    <span class="btn-panel">
                        <app-remove-button [disabled]="disabledButtonRemove" (emitClicked)="remove()"></app-remove-button>
                    </span>
                <span class="btn-panel">
                        <app-edit-button [disabled]="disabledButtonEdit" (emitClicked)="edit()"></app-edit-button>
                    </span>
                <span class="btn-panel">
                        <app-view-button [disabled]="disabledButtonView" (emitClicked)="select()"></app-view-button>
                    </span>
                </span>
            </app-buttons-panel-normal>
        </div>
    </p-card>
    <!-- <i *ngIf="showButtons" class="pi pi-trash card-icon" (click)="remove()"></i> -->

</div>

<app-modal-generic *ngIf="isAlertActive" [isModalActive]="isModalActive" (closed)="formCancel()" [showFooter]="true" [fullModal]="false">
    <!-- <custom-header>
        <span>{{translate.instant('contacts.titleDetail')}}</span>
    </custom-header>
    <custom-section>
        <app-contact-detail
            [id]="contactId"
            [contactTypes]="contactTypes"
            (cancelled)="formCancel()"
            (contactSaved)="getContactSaved($event)">
        </app-contact-detail>
    </custom-section> -->
    <span slot="custom-header">Job YYYYY</span>
    <span slot="custom-section">
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
        <p>CUERPO</p>
    </span>
    <span slot="custom-footer">
        <app-custom-button [label]="'Cerrar'" (emitClicked)="close()">
        </app-custom-button>
    </span>
</app-modal-generic>