/* .mt-input {
    margin-top: 20px;
}

.mt-card {
    margin-top: 10px;
}

.input-size {
    width: 90%;
}

.input-span-size {
    width: 10%;
} */

:host ::ng-deep .mt-card {
    width: 100%;
}


/* .card-wrapper {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: nowrap;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
}

.card-icon {
    background-color: rgb(250, 108, 108);
    color: white;
    position: absolute;
    cursor: pointer;
} */


/* .card-icon:hover {
    color: white;
    background-color: rgb(250, 49, 49);
} */

.clicker {
    cursor: pointer;
}

.card-rotate:hover {
    /* transform: rotate(1deg); */
}

.card-background {
    border: 1px solid transparent;
}

.card-background:hover {
    border: 1px solid rgba(0, 128, 0, 0.479);
}

.date-job {
    font-size: small;
    font-weight: bold;
}

.status-job {
    font-size: small;
    font-weight: bold;
    float: right;
}

.title-card-job {
    font-size: small;
    float: right;
    /* font-weight: bold; */
}

.content-card-job {
    font-size: small;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* font-weight: bold; */
}

.separator {
    border-left: 1px solid black;
}

.custom-textarea .ui-inputtext {
    width: 100%;
    resize: none;
    font-size: small;
}

.custom-textarea .ui-widget:disabled {
    opacity: 1;
}

:host ::ng-deep .progressbar-job-card .ui-progressbar {
    height: 15px;
    background-color: rgb(158, 158, 158);
}

:host ::ng-deep .progressbar-job-card .ui-progressbar .ui-progressbar-label {
    line-height: 15px;
    color: white;
}