:host ::ng-deep .mt-card {
    width: 100%;
}


/* .card-wrapper {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: nowrap;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
}

.card-icon {
    background-color: rgb(250, 108, 108);
    color: white;
    position: absolute;
    cursor: pointer;
} */


/* .card-icon:hover {
    color: white;
    background-color: rgb(250, 49, 49);
} */


/* .clicker {
    cursor: pointer;
} */

:host ::ng-deep .card-job .ui-card:hover {
    /* transform: rotate(1deg); */
    /* border: 1px solid grey; */
    -webkit-box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.75);
}


/* .card-background {
    border: 1px solid transparent;
} */


/* .card-background:hover {
    border: 1px solid rgba(0, 128, 0, 0.479);
} */

:host ::ng-deep .card-job-completed .ui-card-body {
    background-color: #efffef;
}

:host ::ng-deep .card-job-running .ui-card-body {
    background-color: #ffffe3;
}

:host ::ng-deep .card-job-partial .ui-card-body {
    background-color: #eaeaff;
}

:host ::ng-deep .card-job-error .ui-card-body {
    background-color: #ffeaea;
}

.date-job {
    font-size: small;
    font-weight: bold;
}

.status-job {
    font-size: small;
    font-weight: bold;
    float: right;
}

.title-card-job {
    font-size: small;
    float: right;
    /* font-weight: bold; */
}

.content-card-job {
    font-size: small;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* font-weight: bold; */
}

.separator {
    border-left: 1px solid black;
}

.custom-textarea .ui-inputtext {
    width: 100%;
    resize: none;
    font-size: small;
}

.custom-textarea .ui-widget:disabled {
    opacity: 1;
}

.card-info-mini-panel-title {
    font-size: small;
    text-align: center;
}

.card-info-mini-panel-box {
    border: 1px solid #007ad9;
}

.card-info-mini-panel-title {
    background-color: #007ad9;
    color: white;
    font-size: small;
    font-weight: bold;
}

.card-info-mini-panel {
    display: flex;
}

.card-info-mini-item {
    flex-grow: 4;
}

:host ::ng-deep .progressbar-job-card .ui-progressbar {
    height: 15px;
    background-color: rgb(158, 158, 158);
}

:host ::ng-deep .progressbar-job-card .ui-progressbar .ui-progressbar-label {
    line-height: 15px;
    color: white;
}