<div class="ui-g">
    <div class="ui-g-5">
        <span class="cursor-pointer doc-info-algorithm">
            <a href="https://weka.sourceforge.io/doc.dev/weka/classifiers/trees/M5P.html" target="_blank">
                {{ translate.instant('controllerAlgorithmConfig.clickDocumentation') }}
            </a>
            <i class="pi pi-info-circle"></i></span>
    </div>
    <div class="ui-g-7">
        <div class="buttons-panel buttons-panel-end ">
            <app-restart-button [disabled]="btnRestart" (emitClicked)="restart()"></app-restart-button>
        </div>
    </div>
</div>

<form [formGroup]="m5pForm">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g-5">
                unpruned
            </div>
            <div class="ui-g-7">
                <p-inputSwitch formControlName="unpruned"></p-inputSwitch>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-5">
                Use Unsmoothed
            </div>
            <div class="ui-g-7">
                <p-inputSwitch formControlName="useUnsmoothed"></p-inputSwitch>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-5">
                Min Num Instances
            </div>
            <div class="ui-g-7">
                <p-spinner formControlName="minNumInstances" [min]="0"></p-spinner>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-5">
                Build Regression Tree
            </div>
            <div class="ui-g-7">
                <p-inputSwitch formControlName="buildRegressionTree"></p-inputSwitch>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-5">
                Validation
            </div>
            <div class="ui-g-7">
                <p-dropdown [options]="optionsValidation" formControlName="validation"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-5">
                Validation Num
            </div>
            <div class="ui-g-7">
                <p-spinner formControlName="validationNum" [min]="0" [max]="100"></p-spinner>
            </div>
        </div>
    </div>
</form>