.box-login {
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
    width: 350px;
}

.bc-box-login {
    background-color: white;
}

.box-error-login {
    text-align: center;
}

@media (max-width:800px) {
    .box-login {
        width: 70vw;
        max-height: 70%;
    }
}

@media (max-width:600px) {
    .box-login {
        width: 90vw;
        max-height: 90%;
    }
}

.box-language {
    text-align: right;
}

.select-language {
    width: 10px;
}

:host ::ng-deep .select-language .ui-dropdown {
    min-width: 0px;
}