<div class="box-center box-login bc-box-login">
    <!-- <p-fieldset legend="Login" styleClass="bc-box-login"> -->
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div>Email</div>
                    <div><input formControlName="email" type="text " size="30 " pInputText /></div>
                </div>
                <div class="ui-g-12">
                    <div>Contraseña</div>
                    <div class="ui-inputgroup">
                        <input formControlName="password" type="password" pPassword size="30" [feedback]="false" [showPassword]="showPass" />
                        <button pButton type="button" icon="pi pi-eye" (click)="showPass = !showPass" *ngIf="!showPass"></button>
                        <button pButton type="button" icon="pi pi-eye-slash" (click)="showPass = !showPass" *ngIf="showPass"></button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showError" class="box-error-login class-error">{{ textError }}</div>
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12">
                    <button pButton class="" type="submit" label="Login"></button>
                </div>
            </div>
        </div>
    </form>
    <!-- </p-fieldset> -->
</div>