<div *ngIf="globalConfig" class="ui-fluid form-container">
    <form [formGroup]="globalConfigForm">
        <div class="box-main">
            <div class="super-title">
                <p> {{ translate.instant('controllerGlobalConfig.superTitleLocalContainer') }} </p>
            </div>

            <div class="box-param">
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">{{ translate.instant('controllerGlobalConfig.enableDisable') }}</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="localActivated" [readonly]="!this.globalConfigForm.value.awsActivated"></p-inputSwitch>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">{{ translate.instant('controllerGlobalConfig.labelConMaxGlobal') }}</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-spinner formControlName="numContMaxGlobal" [min]="2"></p-spinner>
                        <p class="help-text">{{ translate.instant('controllerGlobalConfig.min') }} 2</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-main">
            <div class="super-title">
                <p> {{ translate.instant('controllerGlobalConfig.superTitleAwsContainer') }} </p>
            </div>

            <div class="box-param">
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">{{ translate.instant('controllerGlobalConfig.enableDisable') }}</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="awsActivated" [readonly]="!this.globalConfigForm.value.localActivated"></p-inputSwitch>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">{{ translate.instant('controllerGlobalConfig.labelConMaxGlobal') }}</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-spinner formControlName="numContMaxGlobalAws" [min]="2"></p-spinner>
                        <p class="help-text">{{ translate.instant('controllerGlobalConfig.min') }} 2</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-main">
            <div class="super-title">
                <p> {{ translate.instant('controllerGlobalConfig.superTitleAllowAlgorithm') }} </p>
            </div>

            <div class="box-param">
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">Linear Regression:</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="linearRegression"></p-inputSwitch>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">Linear Regression Bagging:</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="linearRegressionBagging"></p-inputSwitch>
                    </div>
                </div>




                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">IBk:</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="IBk"></p-inputSwitch>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">ZeroR:</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="ZeroR"></p-inputSwitch>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">M5P:</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="M5P"></p-inputSwitch>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">M5P Bagging:</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="M5PBagging"></p-inputSwitch>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">M5Rules:</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="M5Rules"></p-inputSwitch>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">Decision Stump:</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="DecisionStump"></p-inputSwitch>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">Decision Stump Bagging:</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="DecisionStumpBagging"></p-inputSwitch>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">Libsvm:</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="Libsvm"></p-inputSwitch>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                        <span class="label">Libsvm Bagging:</span>
                    </div>
                    <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                        <p-inputSwitch formControlName="LibsvmBagging"></p-inputSwitch>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-main">
            <div class="super-title">
                <p> {{ translate.instant('controllerGlobalConfig.superTitleShowList') }} </p>
            </div>

            <div class="box-section">
                <div class="title">
                    <span>{{ translate.instant('controllerGlobalConfig.titleHome') }}</span>
                </div>

                <div class="box-param">
                    <div class="p-grid">
                        <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                            <span class="label">{{ translate.instant('controllerGlobalConfig.labelLatestJobShow') }}</span>
                        </div>
                        <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                            <p-spinner formControlName="showLatestsJobs" [min]="2" [max]="10"></p-spinner>
                            <p class="help-text">{{ translate.instant('controllerGlobalConfig.min') }} 2, {{ translate.instant('controllerGlobalConfig.max') }} 10</p>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                            <span class="label">{{ translate.instant('controllerGlobalConfig.labelJobRunningShow') }}</span>
                        </div>
                        <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                            <p-spinner formControlName="showJobsRunning" [min]="2" [max]="6"></p-spinner>
                            <p class="help-text">{{ translate.instant('controllerGlobalConfig.min') }} 2, {{ translate.instant('controllerGlobalConfig.max') }} 6</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-section">
                <div class="title">
                    <span>{{ translate.instant('controllerGlobalConfig.titleDataset') }}</span>
                </div>

                <div class="box-param">
                    <div class="p-grid">
                        <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                            <span class="label">{{ translate.instant('controllerGlobalConfig.labelDatasetShow') }}</span>
                        </div>
                        <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section showDatasets-invalid">
                            <p-spinner formControlName="showDatasets" [min]="4" [max]="16" [step]="4"></p-spinner>
                            <p class="help-text" [ngClass]="{'help-text-invalid': globalConfigForm.controls.showDatasets.invalid}">{{ translate.instant('controllerGlobalConfig.valids') }} 4, 8, 12 o 16 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-section">
                <div class="title">
                    <span>{{ translate.instant('controllerGlobalConfig.titleJob') }}</span>
                </div>

                <div class="box-param">
                    <div class="p-grid">
                        <div class="p-lg-6 p-md-6 p-sm-7 p-col-8 label-section">
                            <span class="label">{{ translate.instant('controllerGlobalConfig.labelJobShow') }}</span>
                        </div>
                        <div class="p-lg-6 p-md-6 p-sm-5 p-col-4 value-section">
                            <p-spinner formControlName="showJobs" [min]="2" [max]="20"></p-spinner>
                            <p class="help-text">{{ translate.instant('controllerGlobalConfig.min') }} 2, {{ translate.instant('controllerGlobalConfig.max') }} 20</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-fluid">
            <app-buttons-panel-normal [marginTop]="true">
                <span slot="end">
                    <span class="btn-panel undo" (click)="restoreConfirm()">{{ translate.instant('controllerGlobalConfig.restoreDefaultValue') }}</span>
                <span class="btn-panel"><app-save-button (emitClicked)="btnSaveClicked()"></app-save-button></span>
                </span>
            </app-buttons-panel-normal>
        </div>
    </form>
</div>

<app-confirm-dialog 
    *ngIf="isConfirmActive" 
    [isConfirmActive]="isConfirmActive" 
    [title]="translate.instant('modals.warning')" 
    [message]="translate.instant('controllerGlobalConfig.messageConfirm')" 
    (confirm)="resetDefaultValues()" 
    (cancel)="cancelConfirm()">
</app-confirm-dialog>