<app-header-title [textTitle]="'Configurar algoritmos'">
    <div class="ui-fluid form-container">

        <div *ngIf="!showAlgoritConf">
            <app-header-title [textTitle]="'Lista de algoritmos'">
                <div>
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <p-checkbox label="Linear Regression" (onChange)="clickCheckAlgorithm($event, Algorithms.LINEAR_REGRESSION)" [(ngModel)]="linearRegressionCheckBox"></p-checkbox>
                        </div>
                        <div class="ui-g-4">
                            <p-checkbox label="Linear Regression Bagging" (onChange)="clickCheckAlgorithm($event, Algorithms.LINEAR_REGRESSION_BAGGING)" [(ngModel)]="linearRegressionBaggingCheckBox"></p-checkbox>
                        </div>
                        <div class="ui-g-4">
                            <p-checkbox label="IBk" (onChange)="clickCheckAlgorithm($event, Algorithms.IBK)" [(ngModel)]="IBkCheckBox"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <p-checkbox label="ZeroR" (onChange)="clickCheckAlgorithm($event, Algorithms.ZEROR)" [(ngModel)]="ZeroRCheckBox"></p-checkbox>
                        </div>
                        <div class="ui-g-4">
                            <p-checkbox label="M5P" (onChange)="clickCheckAlgorithm($event, Algorithms.M5P)" [(ngModel)]="M5PCheckBox"></p-checkbox>
                        </div>
                        <div class="ui-g-4">
                            <p-checkbox label="M5Rules" (onChange)="clickCheckAlgorithm($event, Algorithms.M5RULES)" [(ngModel)]="M5RulesCheckBox"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <p-checkbox label="Decision Stump" (onChange)="clickCheckAlgorithm($event, Algorithms.DECISION_STUMP)" [(ngModel)]="DecisionStumpCheckBox"></p-checkbox>
                        </div>
                        <div class="ui-g-4">
                            <p-checkbox label="DecisionStump Bagging" (onChange)="clickCheckAlgorithm($event, Algorithms.DECISION_STUMP_BAGGING)" [(ngModel)]="DecisionStumpBaggingCheckBox"></p-checkbox>
                        </div>
                    </div>
                </div>
                <div class="box-button">
                    <app-special-button [btnText]="'Configurar algoritmos'" [disabled]="!isAnyAlgorithms()" (emitClick)="showAlgoritConf = true"></app-special-button>
                </div>
            </app-header-title>
        </div>

        <div *ngIf="showAlgoritConf">
            <div class="box-button">
                <app-special-button [btnText]="'Cambiar algoritmos'" (emitClick)="showAlgoritConf = false"></app-special-button>
            </div>
            <p-accordion [multiple]="true">
                <p-accordionTab header="Linear Regression" *ngIf="listAlgorithms.linearRegression">
                    <app-algorithm-linear-regression [linearRegression]="listAlgorithms.linearRegression" (changeLinearRegression)="onChangeLinearRegression($event)"></app-algorithm-linear-regression>
                </p-accordionTab>
                <p-accordionTab header="Linear Regression Bagging" *ngIf="listAlgorithms.linearRegressionBagging">
                    <app-algorithm-linear-regression-bagging [linearRegressionBagging]="listAlgorithms.linearRegressionBagging" (changeLinearRegressionBagging)="onChangeLinearRegressionBagging($event)"></app-algorithm-linear-regression-bagging>
                </p-accordionTab>
                <p-accordionTab header="Alg III" *ngIf="IBkCheckBox">
                    <!-- IBK -->
                </p-accordionTab>
                <!-- TODO: Faltan el resto de algoritmos -->
            </p-accordion>
        </div>
        <app-buttons-panel-normal [marginTop]="true" [showStart]="true">
            <span slot="start">
                <app-previous-button [disabled]="btnPrevDisabled" (emitClicked)="btnPrevClicked()"></app-previous-button>
            </span>
            <span slot="end">
                <app-next-button [disabled]="btnNextDisabled || !isAnyAlgorithms()" (emitClicked)="btnNextClicked()"></app-next-button>
            </span>
        </app-buttons-panel-normal>
    </div>
</app-header-title>