<app-header-title [textTitle]="translate.instant('controllerAlgorithmConfig.textTitle')">
    <div class="ui-fluid form-container">

        <div *ngIf="!showAlgoritConf">
            <app-header-title [textTitle]="translate.instant('controllerAlgorithmConfig.textTitleAlgorithm')">
                <div>
                    <div class="text-select-algorithm mb-3">{{ translate.instant('controllerAlgorithmConfig.textSelectAlgorithm') }}</div>
                    <p class="box-check-all">
                        <span class="text-check-all" (click)="checkAll()">{{ translate.instant('controllerAlgorithmConfig.textCheckAll') }}</span>
                         / 
                         <span class="text-check-all" (click)="uncheckAll()">{{ translate.instant('controllerAlgorithmConfig.textUncheckAll') }}</span>
                    </p>
                    <div class="ui-g">
                        <div class="ui-g-4" *ngIf="gcAlgorithms && gcAlgorithms.linearRegression">
                            <p-checkbox 
                                name="groupalgorithms"
                                label="Linear Regression"
                                value="linearRegression"
                                [(ngModel)]="listAlgorithmsChecked"
                                (onChange)="clickCheckAlgorithm($event, Algorithms.LINEAR_REGRESSION)">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-4" *ngIf="gcAlgorithms && gcAlgorithms.linearRegressionBagging">
                            <p-checkbox 
                                name="groupalgorithms"
                                label="Linear Regression Bagging" 
                                value="linearRegressionBagging"
                                [(ngModel)]="listAlgorithmsChecked"
                                (onChange)="clickCheckAlgorithm($event, Algorithms.LINEAR_REGRESSION_BAGGING)">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-4" *ngIf="gcAlgorithms && gcAlgorithms.IBk">
                            <p-checkbox 
                                name="groupalgorithms"
                                label="IBk"
                                value="IBk"
                                [(ngModel)]="listAlgorithmsChecked"
                                (onChange)="clickCheckAlgorithm($event, Algorithms.IBK)">
                            </p-checkbox>
                        </div>

                        <div class="ui-g-4" *ngIf="gcAlgorithms && gcAlgorithms.ZeroR">
                            <p-checkbox 
                                name="groupalgorithms"
                                label="ZeroR"
                                value="ZeroR"
                                [(ngModel)]="listAlgorithmsChecked"
                                (onChange)="clickCheckAlgorithm($event, Algorithms.ZEROR)">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-4" *ngIf="gcAlgorithms && gcAlgorithms.M5P">
                            <p-checkbox 
                                name="groupalgorithms"
                                label="M5P"
                                value="M5P"
                                [(ngModel)]="listAlgorithmsChecked"
                                (onChange)="clickCheckAlgorithm($event, Algorithms.M5P)">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-4" *ngIf="gcAlgorithms && gcAlgorithms.M5PBagging">
                            <p-checkbox 
                                name="groupalgorithms"
                                label="M5P Bagging" 
                                value="M5PBagging"
                                [(ngModel)]="listAlgorithmsChecked"
                                (onChange)="clickCheckAlgorithm($event, Algorithms.M5P_BAGGING)">
                            </p-checkbox>
                        </div>

                        <div class="ui-g-4" *ngIf="gcAlgorithms && gcAlgorithms.M5Rules">
                            <p-checkbox 
                                name="groupalgorithms"
                                label="M5Rules"
                                value="M5Rules"
                                [(ngModel)]="listAlgorithmsChecked"
                                (onChange)="clickCheckAlgorithm($event, Algorithms.M5RULES)">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-4" *ngIf="gcAlgorithms && gcAlgorithms.DecisionStump">
                            <p-checkbox 
                                name="groupalgorithms"
                                label="Decision Stump"
                                value="DecisionStump"
                                [(ngModel)]="listAlgorithmsChecked" 
                                (onChange)="clickCheckAlgorithm($event, Algorithms.DECISION_STUMP)">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-4" *ngIf="gcAlgorithms && gcAlgorithms.DecisionStumpBagging">
                            <p-checkbox 
                                name="groupalgorithms"
                                label="DecisionStump Bagging"
                                value="DecisionStumpBagging"
                                [(ngModel)]="listAlgorithmsChecked"
                                (onChange)="clickCheckAlgorithm($event, Algorithms.DECISION_STUMP_BAGGING)">
                            </p-checkbox>
                        </div>

                        <div class="ui-g-4" *ngIf="gcAlgorithms && gcAlgorithms.Libsvm">
                            <p-checkbox 
                                name="groupalgorithms"
                                label="Libsvm"
                                value="Libsvm"
                                [(ngModel)]="listAlgorithmsChecked"
                                (onChange)="clickCheckAlgorithm($event, Algorithms.LIBSVM)">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-4" *ngIf="gcAlgorithms && gcAlgorithms.LibsvmBagging">
                            <p-checkbox 
                                name="groupalgorithms"
                                label="Libsvm Bagging"
                                value="LibsvmBagging"
                                [(ngModel)]="listAlgorithmsChecked"
                                (onChange)="clickCheckAlgorithm($event, Algorithms.LIBSVM_BAGGING)">
                            </p-checkbox>
                        </div>
                    </div>
                </div>
                <div class="box-button mt-4">
                    <app-special-button 
                        [btnText]="translate.instant('controllerAlgorithmConfig.btnTextConfigAlgorithm')" 
                        [disabled]="!isAnyAlgorithms()" 
                        (emitClick)="showAlgoritConf = true">
                    </app-special-button>
                </div>
            </app-header-title>
        </div>

        <div *ngIf="showAlgoritConf">
            <div class="box-button mb-4">
                <app-special-button 
                    [btnText]="translate.instant('controllerAlgorithmConfig.btnTextChangeAlgorithm')" 
                    (emitClick)="showAlgoritConf = false">
                </app-special-button>
            </div>
            <p-accordion [multiple]="true">
                <p-accordionTab header="Linear Regression" *ngIf="listAlgorithms.linearRegression.algorithm">
                    <app-algorithm-linear-regression 
                        [linearRegression]="listAlgorithms.linearRegression.algorithm" 
                        (changeLinearRegression)="onChangeLinearRegression($event)">
                    </app-algorithm-linear-regression>
                </p-accordionTab>
                <p-accordionTab header="Linear Regression Bagging" *ngIf="listAlgorithms.linearRegressionBagging.algorithm">
                    <app-algorithm-linear-regression-bagging 
                        [linearRegressionBagging]="listAlgorithms.linearRegressionBagging.algorithm" 
                        (changeLinearRegressionBagging)="onChangeLinearRegressionBagging($event)">
                    </app-algorithm-linear-regression-bagging>
                </p-accordionTab>
                <p-accordionTab header="IBk" *ngIf="listAlgorithms.IBk.algorithm">
                    <app-algorithm-ibk 
                        [ibk]="listAlgorithms.IBk.algorithm" 
                        (changeIbk)="onChangeIBk($event)">
                    </app-algorithm-ibk>
                </p-accordionTab>
                <p-accordionTab header="ZeroR" *ngIf="listAlgorithms.ZeroR.algorithm">
                    <app-algorithm-zeror 
                        [zeror]="listAlgorithms.ZeroR.algorithm" 
                        (changeIbk)="onChangeZeror($event)">
                    </app-algorithm-zeror>
                </p-accordionTab>
                <p-accordionTab header="M5P" *ngIf="listAlgorithms.M5P.algorithm">
                    <app-algorithm-m5p 
                        [m5p]="listAlgorithms.M5P.algorithm" 
                        (changeM5p)="onChangeM5p($event)">
                    </app-algorithm-m5p>
                </p-accordionTab>
                <p-accordionTab header="M5P Bagging" *ngIf="listAlgorithms.M5PBagging.algorithm">
                    <app-algorithm-m5p-bagging 
                        [m5pBagging]="listAlgorithms.M5PBagging.algorithm" 
                        (changeM5pBagging)="onChangeM5pBagging($event)">
                    </app-algorithm-m5p-bagging>
                </p-accordionTab>
                <p-accordionTab header="M5Rules" *ngIf="listAlgorithms.M5Rules.algorithm">
                    <app-algorithm-m5rules 
                        [m5rules]="listAlgorithms.M5Rules.algorithm" 
                        (changeM5rules)="onChangeM5rules($event)">
                    </app-algorithm-m5rules>
                </p-accordionTab>
                <p-accordionTab header="Decision Stump" *ngIf="listAlgorithms.DecisionStump.algorithm">
                    <app-algorithm-decision-stump 
                        [decisionStump]="listAlgorithms.DecisionStump.algorithm" 
                        (changeDecisionStump)="onChangeDecisionStump($event)">
                    </app-algorithm-decision-stump>
                </p-accordionTab>
                <p-accordionTab header="Decision Stump Bagging" *ngIf="listAlgorithms.DecisionStumpBagging.algorithm">
                    <app-algorithm-decision-stump-bagging 
                    [decisionStumpBagging]="listAlgorithms.DecisionStumpBagging.algorithm" 
                    (changeDecisionStumpBagging)="onChangeDecisionStumpBagging($event)">
                </app-algorithm-decision-stump-bagging>
                </p-accordionTab>
                <p-accordionTab header="Libsvm" *ngIf="listAlgorithms.Libsvm.algorithm">
                    <app-algorithm-libsvm 
                        [libsvm]="listAlgorithms.Libsvm.algorithm" 
                        (changeLibsvm)="onChangeLibsvm($event)">
                    </app-algorithm-libsvm>
                </p-accordionTab>
                <p-accordionTab header="Libsvm Bagging" *ngIf="listAlgorithms.LibsvmBagging.algorithm">
                    <app-algorithm-libsvm-bagging 
                        [libsvmBagging]="listAlgorithms.LibsvmBagging.algorithm" 
                        (changeLibsvmBagging)="onChangeLibsvmBagging($event)">
                    </app-algorithm-libsvm-bagging>
                </p-accordionTab>
            </p-accordion>
        </div>
        <app-buttons-panel-normal [marginTop]="true" [showStart]="true">
            <span slot="start">
                <app-previous-button 
                    [disabled]="btnPrevDisabled" 
                    (emitClicked)="btnPrevClicked()">
                </app-previous-button>
            </span>
            <span slot="end">
                <app-next-button 
                    [disabled]="btnNextDisabled || !isAnyAlgorithms()" 
                    (emitClicked)="btnNextClicked()">
                </app-next-button>
            </span>
        </app-buttons-panel-normal>
    </div>
</app-header-title>