<div>
    <div class="mb-4">
        <div *ngIf="!task && algorithm.status !== 'ERROR'">
            <p class="text-status color-not-start"> {{ translate.instant('algorithmDetailsInfo.notInitYet') }}</p>
        </div>


        <div class="p-grid" *ngIf="task">
            <div class="p-col-6"><span class="algorithm-date">{{ task.date | date:'dd/MM/yyyy' }}</span></div>
            <div class="p-col-6"><span class="algorithm-status"> {{ task.status | statusAlgorithm }}</span></div>
        </div>
        <div *ngIf="!task && algorithm.status === 'ERROR'">
            <!-- <div class="p-col-6"><span class="algorithm-date"></span></div> -->
            <!-- <div class="p-col-6"><span class="algorithm-status"> {{ algorithm.status }}</span></div> -->
            <p class="text-status color-not-start"> {{ algorithm.status }}</p>
        </div>


        <div *ngIf="task && task.status && task.status === 'RUNNING'">
            <p class="text-status color-running"> {{ translate.instant('algorithmDetailsInfo.running') }} </p>
        </div>
        <div *ngIf="!model && task && task.status && task.status === 'COMPLETED'">
            <p class="text-status color-get-result"> {{ translate.instant('algorithmDetailsInfo.gettingResults') }}</p>
        </div>
    </div>

    <app-error-list *ngIf="algorithm" [maxHeight]="80" [errorList]="algorithm.errorList"></app-error-list>
</div>