<div class="card-wrapper">
    <p-card 
        class="mt-card" 
        styleClass="ui-card-shadow" 
        [ngClass]="{clicker: isClicker, 'card-background': isClicker, 'mt-card-admin': user.role === 'ADMIN_ROLE', 'mt-card-user': user.role === 'USER_ROLE'}">

        <div class="">
            <p class="date-dataset">{{ user.dateCreation | date:'dd/MM/yyyy' }}</p>
            <div class="p-grid p-justify-center">
                <div class="p-col-4">
                    <span class="title-card-user">{{ translate.instant('userCard.labelName') }}</span>
                </div>
                <div class="p-col-8 separator">
                    <span class="content-card-user">{{ user.name }}</span>
                </div>
            </div>
            <div class="p-grid p-justify-center">
                <div class="p-col-4">
                    <span class="title-card-user">{{ translate.instant('userCard.labelEmail') }}</span>
                </div>
                <div class="p-col-8 separator">
                    <span class="content-card-user">{{ user.email }}</span>
                </div>
            </div>
        </div>

        <div *ngIf="showButtons" class="ui-fluid mt-3 card-button-panel">
            <div class="card-button-item">
                <app-edit-button *ngIf="user.role !== 'ADMIN_ROLE'" (emitClicked)="openEditUserModal()"></app-edit-button>
            </div>
            <div class="card-button-item">
                <app-custom-button 
                    [label]="translate.instant('userCard.btnChangePass')" 
                    (emitClicked)="openChangePassUserModal()">
                </app-custom-button>
            </div>
        </div>
        <app-modal-time
            *ngIf="timeModal" 
            [isModalActive]="timeModal" 
            [user]="user"
            (closedModalTime)="closeTimeModal($event)">
        </app-modal-time>
        <app-controller-edit-user-modal 
            [isModalActive]="editUserModal" 
            [user]="user" 
            (closedModal)="closeEditUserModal()">
        </app-controller-edit-user-modal>
        <app-controller-change-pass-user-modal 
            [isModalActive]="changePassUserModal" 
            [user]="user" 
            (closedModal)="closeChangePassUserModal()">
        </app-controller-change-pass-user-modal>
    </p-card>
    <div class="card-icons" *ngIf="user.role !== 'ADMIN_ROLE'">
        <i *ngIf="showButtons" (click)="openTimeModal()" class="pi pi-clock clicker card-icon ui-special-button-warning mr-3"></i>
        <i *ngIf="showButtons && !user.state" class="pi pi-ban card-icon ui-special-button-danger ml-1 mr-1"></i>

        <i *ngIf="showButtons && user.state" class="pi pi-ban card-icon ui-special-button-success ml-1 mr-1"></i>
    </div>

</div>