<app-modal-generic *ngIf="isAlertActive" [isModalActive]="isModalActive" (closed)="formCancel()" [showFooter]="false" [fullModal]="false">
    <!-- TODO: Traducir -->
    <span slot="custom-header">Cambiar contraseña</span>
    <span slot="custom-section">

        <form [formGroup]="changePassForm">
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-g-4">
                            Contraseña:
                        </div>
                        <div class="ui-g-8">
                            <input pInputText type="text" formControlName="password" />
                            <small *ngIf="passwordInvalid" class="class-error">
                                Ingrese contraseña
                            </small>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-g-4">
                            Repetir Contraseña:
                        </div>
                        <div class="ui-g-8">
                            <input pInputText type="text" formControlName="password2" />
                            <small *ngIf="password2Invalid" class="class-error">
                                Las contraseñas no coinciden
                              </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-fluid">
                <app-buttons-panel-normal [marginTop]="true">
                    <span slot="end"> 
                        <span class="btn-panel">
                            <app-cancel-button (emitClicked)="close()"></app-cancel-button>
                        </span>
    <span class="btn-panel">
                            <app-save-button (emitClicked)="saved()"></app-save-button>
                        </span>
    </span>
    </app-buttons-panel-normal>
    </div>
    </form>
    </span>
</app-modal-generic>