.date-card {
    color: grey;
    font-weight: bold;
}

.title-card {
    font-weight: bold;
    font-size: 20px;
}

.subtitle-card {
    color: grey;
    font-weight: bold;
    text-align: right;
}

.endpoint-title {
    color: grey;
    font-weight: bold;
}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: fixed;
}

.status-on {
    background-color: green;
}

.status-off {
    background-color: red;
}

.text-show {
    font-size: small;
    font-weight: bold;
}

.jumbotron {
    padding: 1rem;
    margin-bottom: 0px;
    background-color: whitesmoke;
}