<app-modal-generic 
    *ngIf="isAlertActive" 
    [isModalActive]="isModalActive" 
    (closed)="formCancel()" 
    [showFooter]="false" 
    [fullModal]="false">

    <span slot="custom-header">{{ translate.instant('modalJobDetails.textHeader') }} {{ job.name }}</span>
    <span slot="custom-section">
        <app-controller-job-details 
            [jobId]="job.id" 
            [mode]="mode" 
            (emitJob)="modificateJob($event)" 
            (emitCancel)="close()" 
            (emitSaved)="saved($event)">
        </app-controller-job-details>
    </span>
</app-modal-generic>