<app-header-title [textTitle]="'Configurar algoritmos'">
    <div class="ui-fluid form-container">

        <p-accordion [multiple]="true">
            <p-accordionTab header="Alg I">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="ui-g-5">
                            InputText
                        </div>
                        <div class="ui-g-7">
                            <p-spinner [(ngModel)]="val2" [min]="0" [max]="100"></p-spinner>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-5">
                            Switch
                        </div>
                        <div class="ui-g-7">
                            <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-5">
                            Dropdown
                        </div>
                        <div class="ui-g-7">
                            <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12">

                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Alg II">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="ui-g-5">
                            InputText
                        </div>
                        <div class="ui-g-7">
                            <p-spinner [(ngModel)]="val2" [min]="0" [max]="100"></p-spinner>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-5">
                            Switch
                        </div>
                        <div class="ui-g-7">
                            <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-5">
                            Dropdown
                        </div>
                        <div class="ui-g-7">
                            <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12">

                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Alg III">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="ui-g-5">
                            InputText
                        </div>
                        <div class="ui-g-7">
                            <p-spinner [(ngModel)]="val2" [min]="0" [max]="100"></p-spinner>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-5">
                            Switch
                        </div>
                        <div class="ui-g-7">
                            <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-5">
                            Dropdown
                        </div>
                        <div class="ui-g-7">
                            <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12">

                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>

        <app-buttons-panel-normal [marginTop]="true" [showStart]="true">
            <span slot="start">
                <app-previous-button [disabled]="btnPrevDisabled" (emitClicked)="btnPrevClicked()"></app-previous-button>
            </span>
            <span slot="end">
                <app-next-button [disabled]="btnNextDisabled" (emitClicked)="btnNextClicked()"></app-next-button>
            </span>
        </app-buttons-panel-normal>
    </div>
</app-header-title>