<app-header-title [textTitle]="'Confirmación'">
    <div class="ui-fluid form-container">
        <app-buttons-panel-normal [marginTop]="true" [showStart]="true">
            <span slot="start">
            <app-previous-button [disabled]="btnPrevDisabled" (emitClicked)="btnPrevClicked()"></app-previous-button>
        </span>
            <span slot="end">
            <app-custom-button [label]="btnLaunchLabel" [disabled]="btnLaunchDisabled" [styleClass]="btnLaunchStyleClass" (emitClicked)="btnLaunchClicked()"></app-custom-button>
        </span>
        </app-buttons-panel-normal>
    </div>
</app-header-title>