<app-header-title [textTitle]="translate.instant('controllerLaunchWorker.textTitleGlobal')">

    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
                <app-special-button 
                    [btnText]="translate.instant('controllerLaunchWorker.btnTextAWS')" 
                    (emitClick)="selectZoneLaunch(zoneLaunch.AWS)">
                </app-special-button>
            </div>
            <div class="ui-g-12 ui-md-6">
                <app-special-button 
                    [btnText]="translate.instant('controllerLaunchWorker.btnTextLocal')" 
                    (emitClick)="selectZoneLaunch(zoneLaunch.LOCAL)">
                </app-special-button>
            </div>
        </div>
    </div>

    <div class="ui-fluid form-container">
        <div *ngIf="showView === zoneLaunch.AWS">
            <app-config-aws-workers
                [listAlgorithms]="listAlgorithms" 
                (emitAwsWorkers)="setAwsWorkers($event)" 
                (emitAllowNext)="allowNext($event)">
            </app-config-aws-workers>
        </div>
        <div *ngIf="showView === zoneLaunch.LOCAL">
            <app-config-local-workers 
                [listAlgorithms]="listAlgorithms" 
                (emitLocalWorkers)="setLocalWorkers($event)" 
                (emitAllowNext)="allowNext($event)">
            </app-config-local-workers>
        </div>

        <app-buttons-panel-normal [marginTop]="true" [showStart]="true">
            <span slot="start">
            <app-previous-button 
                [disabled]="btnPrevDisabled" 
                (emitClicked)="btnPrevClicked()">
            </app-previous-button>
        </span>
            <span slot="end">
            <app-next-button 
                [disabled]="btnNextDisabled" 
                (emitClicked)="btnNextClicked()">
            </app-next-button>
        </span>
        </app-buttons-panel-normal>
    </div>
</app-header-title>