<p-toast></p-toast>
<ngx-loading [show]="loading" [config]="config"></ngx-loading>
<app-alert-dialog></app-alert-dialog>
<div class="container">
    <div *ngIf="showName()" class="welcome-text-box">
        <span class="welcome-box"> 
            <span class="welcome-text">
                {{ translate.instant('welcome') }}, 
            </span> 
            <span class="name-text"> 
                {{ name() }} 
            </span> 
        </span>
    </div>
    <div class="mb-4">
        <app-menubar *ngIf="showMenuApp()"></app-menubar>
        <app-menubar-admin *ngIf="showMenuAdmin()"></app-menubar-admin>
    </div>
    <router-outlet></router-outlet>
</div>