<div class="algorithm-details-data">
    <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>

    <div class="box-data" [ngStyle]="{'height': height}">
        <div *ngIf="selectedType === 'CONFIG'">
            <table class="box-data-table">
                <tr>
                    <th>{{ translate.instant('algorithmDetailsData.titleParam') }}</th>
                    <th>{{ translate.instant('algorithmDetailsData.titleOption') }}</th>
                </tr>
                <tr *ngFor="let param of configs">
                    <td>
                        <div class="float-right box-data-label">{{ param.label }}</div>
                    </td>
                    <td>
                        <div class="float-right box-data-value">{{ param.value }}</div>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="selectedType === 'RESULT'">
            <table class="box-data-table">
                <tr>
                    <th>{{ translate.instant('algorithmDetailsData.titleParam') }}</th>
                    <th>{{ translate.instant('algorithmDetailsData.titleValue') }}</th>
                </tr>
                <tr *ngFor="let result of results">
                    <td>
                        <div class="float-right box-data-label">{{ result.label }}</div>
                    </td>
                    <td>
                        <div class="float-right box-data-value">{{ result.value }}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>