<app-header-title [textTitle]="'Lanzar trabajo'">
    <div class="ui-card job-step">
        <app-step [items]="items" [activeStep]="activeStep"></app-step>
    </div>

    <div *ngIf="isDataset()">
        <app-controller-setect-dataset (emitStep)="changeStep($event)"></app-controller-setect-dataset>
    </div>
    <div *ngIf="isAlgorithm()">
        <app-controller-algorithm-config (emitStep)="changeStep($event)"></app-controller-algorithm-config>
    </div>
    <div *ngIf="isWorkers()">
        <app-controller-launch-worker (emitStep)="changeStep($event)"></app-controller-launch-worker>
    </div>
    <div *ngIf="isConfirm()">
        <app-controller-launch-confirm (emitStep)="changeStep($event)"></app-controller-launch-confirm>
    </div>
</app-header-title>