
:host ::ng-deep .modal-generic .ui-dialog .ui-dialog-titlebar {
    border: 1px solid white;
    // background-color: #00458f;
    background: linear-gradient(90deg, #150875, #f96a11);
    color: white;
}

:host ::ng-deep .modal-generic .ui-corner-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

:host ::ng-deep .modal-generic .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    color: white;
}

:host ::ng-deep .modal-generic .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:hover {
    color: #cccccc;
}

.modal-text {
    font-weight: bold;
}