.custom-textarea .ui-inputtext {
    width: 100%;
    resize: none;
}

.status {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 6px;
}

.title  {
    font-size: small;
    text-align: center;
}

.value {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

:host ::ng-deep .time-card .ui-card-body {
    padding-bottom: 0px;
}