<div class="mb-3">
    <app-buttons-panel-normal [marginTop]="true" [showStart]="true">
        <span slot="start">
            <app-custom-button 
                class="ml-2" 
                [label]="translate.instant('controllerListContainers.startContainer')"
                [icon]="'pi pi-plus'" 
                [iconPos]="'left'" 
                [styleClass]="'ui-button-success'" 
                (emitClicked)="initiateContainer()">
            </app-custom-button>
        </span>
        <span slot="end">
            <app-custom-button 
                class="mr-2" 
                [icon]="'pi pi-refresh'" 
                [iconPos]="'left'" 
                [styleClass]="'ui-button-warning'" 
                (emitClicked)="getContainersAws()">
            </app-custom-button>
        </span>
    </app-buttons-panel-normal>
</div>
<app-containers-aws-list 
    [containersAws]="containersAws" 
    (containerAwsRemoved)="removeContainerAws($event)">
</app-containers-aws-list>