.header-title-text {
    padding: 10px;
    /* background: linear-gradient(90deg, #150875, #f96a11); */
    background: linear-gradient(90deg, #3a3370, #ff873c);
    color: #ffffff;
    padding: 0.571em 1em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
}

.header-title-text span {
    color: #ffffff;
    margin-left: 15px;
}

.header-title-content {
    padding: 0.571em 1em;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #333333;
    padding: 0.571em 1em;
}