<!-- Modal -->
<app-modal-generic 
    *ngIf="isAlertActive" 
    [isModalActive]="isModalActive" 
    (closed)="emitAccept()" 
    [showHeader]="title && title !== ''" 
    [showSection]="message && message !== ''" 
    [closable]="false">
    <span slot="custom-header" class="modal-card-title">{{ title }}</span>

    <div slot="custom-section" class="alert-section">
        <p class="item">{{ message }}</p>
        <div class="item">
            <app-collapse 
                *ngIf="textToShowCollapse && textToShowCollapse !== ''" 
                [textShowMore]="translate.instant('alerts.textShowMoreCollapse')" 
                [textShowLess]="translate.instant('alerts.textShowLessCollapse')" 
                [textToShow]="textToShowCollapse">
            </app-collapse>
        </div>
    </div>

    <span slot="custom-footer">
            <app-custom-button 
                [label]="translate.instant('alerts.btnClose')" 
                (emitClicked)="close()">
            </app-custom-button>
        </span>
</app-modal-generic>