<app-modal-generic *ngIf="isAlertActive" [isModalActive]="isModalActive" (closed)="formCancel()" [showFooter]="false" [fullModal]="false">
    <span slot="custom-header">{{ translate.instant('controllerEditUserModal.titleModal') }}</span>
    <span slot="custom-section">

        <form [formGroup]="editUserForm">
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-g-4">
                            {{ translate.instant('controllerEditUserModal.labelName') }}
                        </div>
                        <div class="ui-g-8">
                            <input pInputText type="text" formControlName="name" />
                            <small *ngIf="nameInvalid" class="class-error">
                                {{ translate.instant('controllerEditUserModal.nameInvalid') }}
                            </small>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-g-4">
                            {{ translate.instant('controllerEditUserModal.labelEmail') }}
                        </div>
                        <div class="ui-g-8">
                            <input pInputText type="text" formControlName="email" />
                            <small *ngIf="emailInvalid" class="class-error">
                                {{ translate.instant('controllerEditUserModal.emailInvalid') }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-g-4">
                            {{ translate.instant('controllerEditUserModal.labelActive') }}
                        </div>
                        <div class="ui-g-8">
                            <p-inputSwitch formControlName="state"></p-inputSwitch> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-fluid">
                <app-buttons-panel-normal [marginTop]="true">
                    <span slot="end"> 
                        <span class="btn-panel">
                            <app-cancel-button (emitClicked)="close()"></app-cancel-button>
                        </span>
    <span class="btn-panel">
                            <app-save-button (emitClicked)="saved()"></app-save-button>
                        </span>
    </span>
    </app-buttons-panel-normal>
    </div>
    </form>
    </span>
</app-modal-generic>