/* You can add global styles to this file, and also import other style files */

body {
    background-color: #EDEDED;
}

.class-error {
    color: #AB0000;
    font-size: 11px;
}

.pointer {
    cursor: pointer;
}

.box-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.form-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:600px) {
    .form-container {
        max-width: 600px
    }
}

.list-empty {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: grey;
}


/* BUTTONS PANEL */

.buttons-panel {
    display: flex;
}

.buttons-panel button {
    margin: 0px 4px 0px 4px;
}

.buttons-panel-start {
    justify-content: flex-start;
}

.buttons-panel-center {
    justify-content: center;
}

.buttons-panel-end {
    justify-content: flex-end;
}

.disabled {
    opacity: 0.5;
}


/* SPECIAL BUTTON */

.ui-special-button {
    margin: 0;
    font-size: 14px;
    padding: 10px;
    -webkit-transition: background-color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.ui-special-button-secondary {
    color: #333333;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
}

.ui-special-button-success {
    color: #ffffff;
    background-color: #34A835;
    border: 1px solid #34A835;
}

.ui-special-button-info {
    color: #ffffff;
    background-color: #007ad9;
    border: 1px solid #007ad9;
}

.ui-special-button-warning {
    color: #333333;
    background-color: #ffba01;
    border: 1px solid #ffba01;
}

.ui-special-button-danger {
    color: #ffffff;
    background-color: #e91224;
    border: 1px solid #e91224;
}

.ui-special-button-secondary:hover {
    background-color: #c8c8c8;
    color: #333333;
    border-color: #c8c8c8;
}

.ui-special-button-success:hover {
    background-color: #107D11;
    color: #ffffff;
    border-color: #107D11;
}

.ui-special-button-info:hover {
    background-color: #116fbf;
    color: #ffffff;
    border-color: #116fbf;
}

.ui-special-button-warning:hover {
    background-color: #ED990B;
    color: #333333;
    border-color: #ED990B;
}

.ui-special-button-danger:hover {
    color: #ffffff;
    background-color: #e91224;
    border: 1px solid #e91224;
}