/* You can add global styles to this file, and also import other style files */

body {
    background-color: #EDEDED;
}

.class-error {
    color: #AB0000;
    font-size: 11px;
}

.box-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.cursor-pointer {
    cursor: pointer;
}