/* You can add global styles to this file, and also import other style files */

body {
    background-color: #EDEDED;
}

.class-error {
    color: #AB0000;
    font-size: 11px;
}

.box-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    margin-top: 15px;
}

.list-empty {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: grey;
}